/* shared.css */

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: rgb(47, 5, 65);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

#page-logo a {
  font-family: "Oleo Script", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: rgb(255, 217, 0);
  text-transform: uppercase;
  padding: 10px;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

nav a:hover,
#page-logo a:hover {
  opacity: 0.8;
}

footer {
  background-color: rgb(24, 24, 24);
  padding: 24px 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

footer img {
  width: 40px;
  height: 40px;
}