/* styles.css */

#hero {
  height: 800px;
  background-image: url("images/ocean.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-content {
  width: 700px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgba(68, 67, 67, 0.5);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
}

#hero-content h1 {
  margin: 0;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
}

#hero-content p {
  margin: 20px 0 30px 0;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

#hero-content a {
  display: inline-block;
  padding: 12px 24px;
  background-color: rgb(255, 251, 0);
  color: black;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
}

#hero-content a:hover {
  background-color: rgb(255, 230, 0);
}

#highlights {
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
  padding: 24px 0 48px 0;
}

#highlights h2 {
  margin: 0 0 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  color: rgb(59, 65, 64);
}

#destinations {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.destination {
  width: 30%;
}

.destination img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.destination p {
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 24px;
  color: rgb(59, 65, 64);
  text-transform: uppercase;
}

.destination strong {
  color: rgb(0, 160, 117);
}